body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

ul li {
  list-style: none !important;
}

#special {
  background-image: url(../images/photo-1678924587662-d8c63e57eb11.avif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.fs-60 {
  font-size: 60px !important;
}

.fs-45 {
  font-size: 45px !important;
}

.fs-24 {
  font-size: 24px;
}

.fs-13 {
  font-size: 13px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.my-button {
  border: 1px solid #1b8bcc;
  padding: 14px 16px;
  width: 200px;
  border-radius: 48px 48px;
  background-color: #1b8bcc;
  color: white;
  transition: all 800ms;
}
.my-button:hover {
  background-color: #fff;
  color: #1b8bcc;
}

#quick {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 12px 0;
}

.card {
  transition: all 500ms;
}
.card .opacit {
  opacity: 0;
  transform: translateY(-20px);
  transition: all 600ms;
}
.card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card:hover .opacit {
  opacity: 1;
  transform: translateY(0);
}

#lamlex {
  background-image: url(../images/24_b6d39da9-3463-4a41-b1e4-d6e845fe5108_540x.webp);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-color: orangered;
  height: 65vh;
}

#aft {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
}
#aft::after {
  content: "";
  width: 0;
  height: 138px;
  background-color: rgba(27, 139, 204, 0.4901960784);
  display: block;
  position: absolute;
  transition: all 600ms;
}
#aft:hover::after {
  width: 100%;
}
#aft:hover p:nth-child(2) {
  color: #1b8bcc !important;
}

.hv-blur img {
  opacity: 0.4;
  transition: all 600ms;
}
.hv-blur:hover img {
  opacity: 1;
}

.hv-blue {
  transition: all 500ms;
}
.hv-blue:hover {
  color: #98c8e3;
}

#explore {
  height: 80vh;
  background-color: var(--footerBg);
}

.input-special1 {
  background: var();
  border: 0.5px solid rgba(27, 139, 204, 0.2745098039);
  border-radius: 48px 48px;
  width: 70%;
  padding: 12px 10px;
  outline: none;
}

.input-special2 {
  width: 12%;
  background-color: #1b8bcc;
  border-radius: 48px 48px;
  outline: none;
  border: 1px solid #1b8bcc;
  padding: 12px 18px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

.border-sp {
  border: 0.5px solid rgba(27, 139, 204, 0.3294117647);
  margin-bottom: -130px;
  z-index: 6;
  background-color: #fff !important;
  position: relative;
  z-index: 9;
}

footer {
  height: 85vh;
  background-color: var(--footerBg) !important;
}

.bg-blue {
  background-color: #0a5682;
}

.bg-mode {
  background-color: var(--sectionBg) !important;
  border-color: var(--border);
}

.bg-whiteSection {
  background-color: var(--sectionWhite) !important;
}

.text-mode {
  color: var(--textColor) !important;
}

.border_mode {
  border-color: var(--border) !important;
}

.dark_mode {
  --sectionBg: #000;
  --textColor: #fff;
  --footerBg:#000;
  --border:#fff;
  --inputMode:#fff;
  --primaryMode:#fff;
  --sectionWhite:#000;
  --border_none:1px solid #fff;
  --footerBottom:#000;
}

.light_mode {
  --sectionBg:none;
  --textColor:none;
  --footerBg:#1b8bcc;
  --border:#1b8bcc;
  --primaryMode:#1b8bcc;
  --sectionWhite:#fff;
  --border_none:none;
  --footerBottom:#1b8bcc;
}

.primary_text {
  color: var(--primaryMode) !important;
}

.border-none {
  border: var(--border_none) !important;
}

.footer_bgBottom {
  background-color: var(--footerBottom) !important;
}/*# sourceMappingURL=style.css.map */